#!/bin/bash

set -x

# Reset OpenFlow protocol version before ovn-controller takes over
ovs-vsctl set Bridge {{ ovn_bridge }} protocols=[]

ovn_bms=$(ovs-vsctl get open . external_ids:ovn-bridge-mappings-back | tr -d '"')

OIFS=$IFS
IFS=,
for bm in $ovn_bms; do
   bridge=$(echo $bm | cut -d : -f 2)
   ovs-vsctl set-fail-mode $bridge standalone
   ovs-vsctl set Bridge $bridge protocols=[]
   ovs-vsctl del-controller $bridge
done
IFS=$OIFS

# restore bridge mappings
ovs-vsctl set open . external_ids:ovn-bridge-mappings="$ovn_bms"
ovs-vsctl remove open . external_ids ovn-bridge-mappings-back

# Delete controller from integration bridge
# ovs-vsctl del-controller {{ ovn_bridge }}

# Activate ovn-controller by configuring integration bridge
ovs-vsctl set open . external_ids:ovn-bridge={{ ovn_bridge }}

# Delete ovs bridges - br-tun and br-migration
ovs-vsctl --if-exists del-br {{ tunnel_bridge }}
ovs-vsctl --if-exists del-br br-migration

exit 0
