#!/bin/bash

set -x

ovn_bms=$(ovs-vsctl get open . external_ids:ovn-bridge-mappings | tr -d '"')

# backup bridge mappings
ovs-vsctl set open . external_ids:ovn-bridge-mappings-back="$ovn_bms"
ovs-vsctl remove open . external_ids ovn-bridge-mappings

ovs-vsctl --may-exist add-br br-migration

# Tell ovn-controller to use br-migration
ovs-vsctl set open . external_ids:ovn-bridge=br-migration

for iface in $(ovs-vsctl find interface type=geneve | awk '/name /{ print $3 }'); do
    ovs-vsctl del-port $iface
done
ovs-ofctl del-flows br-int

exit 0
